body {
    color: black;
    background-color: white;
}

button {
    border: 2px solid #f52578;
    color: #f52578;
    background-color: white;
    padding: 4px;
}

button:hover {
    color: white;
    background-color: #f52578;
}